


<!-- block_course_notification/indicators -->
{{#hasindicators}}
<div class="block_course_notification_indicators d-flex">
{{#indicators}}
    <div class="block_course_notification-indicator {{indicatortype}}">
        {{{indicatorgraph}}}
    </div>
{{/indicators}}
</div>
{{/hasindicators}}
<!-- /block_course_notification/indicators -->
